<div>
    <div fxLayout="row wrap">
        <div fxFlex="33.33%">
            <mat-chip-list>
                <mat-chip color="accent">Reihe: {{row.rowNumber}}</mat-chip>
            </mat-chip-list>
        </div>
        <div fxFlex="33.33%">
            <mat-form-field>
                <mat-label>Sitzplätze</mat-label>
                <input required (ngModelChange)="SeatNrChanged($event)" matInput type="number" name="rownuminput" [ngModel]="row!.seats!.length" />
            </mat-form-field>
        </div>
        <div fxFlex="33.33%">
            <mat-form-field>
                <mat-label>Preiskategorie</mat-label>
                <mat-select required [(ngModel)]="row!.priceCategoryId" name="catSelect" (selectionChange)="categoryChange($event.value)">
                    <mat-option required ngDefaultControl *ngFor="let cat of categories" [value]="cat.id" name="row_cat">
                        {{cat |categoryCompact}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>